body {
    padding-bottom: 20px;
    /*font-family: 'Exo 2', sans-serif;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
    max-height: 200px;
}

html,
body {
    height: 100%;
}

.bttn {
    background: repeating-linear-gradient(135deg, #28a7451a, #28a7451a 5px, rgba(0,0,0,0) 5px, rgba(0,0,0,0) 10px);
    text-decoration: none;
}
/*.bttn-radio {
    background-color: #ffdb4d;
}

.bttn-radio:not(.disabled).active {
    background-color: #ffdb4d;
  
    box-shadow: 0 0 0 0.3rem rgba(255, 204, 0, 0.5);
}*/
.bttn-radio {
    background-color: none;
    border-color: #ced4da !important;
}

.bttn-radio:not(.disabled).active {
    background-color: none;
    background: repeating-linear-gradient(135deg, #28a7451a, #28a7451a 5px, rgba(0,0,0,0) 5px, rgba(0,0,0,0) 10px);
    box-shadow: 0 0 0 0.1rem rgba(40, 167, 69, 0.5);
}
.def-link-text {
    /*font-size:1.1em;*/ 
    word-wrap: break-word;
    color: black;
    text-decoration: none;
}
.def-link-text:active,
.def-link-text:hover {
    cursor: pointer;
    text-decoration: none;
    color: #666;
}

.def-text {
    /*font-size:1.1em;*/ 
    word-wrap: break-word;
    color: black;
    text-decoration: none;
}

.sm-text {
    /*font-size: 0.9em;*/
    word-wrap: break-word;
    color: black;
    text-decoration: none;
}

.sm-text:active,
.sm-text:hover {
    text-decoration: none;
    color: #666;
}

/*.lg-text{
    font-size: 1.2em;
}

.xl-text {
    font-size: 1.3em;
}

p {
  
    font-size: 1.1em;
}*/

.border-def {
    border-style: solid;
    border-color: #d6d4d465;
    border-width: 2px;
}

.border-dash {
    border-style: dashed;
    border-color: #d6d4d4cc;
    border-width: 2px;
}

.border-rounded {

    border-radius: 1em;
}

.heading-def{
    color: black;
    font-weight: bold;
    /*font-size: 1.5em;*/
}

.heading-link {
    color: #04b;
    font-weight: bold;
    /*font-size: 1.5em;*/
}

#catalog-header {
    /*background: linear-gradient(45deg, #49505F 33%, #28a745af 66%, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #28A745;*/
    color: white;
    text-shadow: 0 0 0.2rem #666;
    /*font-size: 4em;*/
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}

.footer-distributed {
    background-color: #EDEEF0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 30px 60px;
    margin-top: 80px;
}

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: top;
    }

    /* Footer left */

    .footer-distributed .footer-left {
        width: 40%;
    }

    /* The company logo */

    .footer-distributed h3 {
        color: #33383B;
        font-family: 'Righteous', cursive;
        font-weight: 600;
        font-size: 36px;
        /*font: normal 36px 'Cookie', cursive;*/
        margin: 0;
    }

        .footer-distributed h3 span {
            color: #28A745;
        }

    /* Footer links */

    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 20px 0 12px;
        padding: 0;
    }

        .footer-distributed .footer-links a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
        }

    .footer-distributed .footer-company-name {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }

    /* Footer Center */

    .footer-distributed .footer-center {
        width: 35%;
    }

        .footer-distributed .footer-center i {
            background-color: #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }

            .footer-distributed .footer-center i.fa-envelope {
                font-size: 17px;
                line-height: 38px;
            }

        .footer-distributed .footer-center p {
            display: inline-block;
            color: black;
            vertical-align: middle;
            margin: 0;
        }

            .footer-distributed .footer-center p span {
                display: block;
                font-weight: normal;
                font-size: 14px;
                line-height: 2;
            }

            .footer-distributed .footer-center p a {
                color: #5383d3;
                text-decoration: none;
                ;
            }


    /* Footer Right */

    .footer-distributed .footer-right {
        width: 20%;
    }

    .footer-distributed .footer-company-about {
        line-height: 20px;
        color: black;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }

        .footer-distributed .footer-company-about span {
            display: block;
            color: black;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
        }

    .footer-distributed .footer-icons {
        margin-top: 25px;
    }

        .footer-distributed .footer-icons a {
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: #33383b;
            border-radius: 2rem;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-right: 3px;
            margin-bottom: 5px;
        }

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }

            .footer-distributed .footer-center i {
                margin-left: 0;
            }
}

/*--------------CHAT--------------*/
#chatBox {
height: 100%;
overflow-y: auto;
}

#messageBox {
    height: 80%;
    overflow-y: auto;
}

#sendForm {
    height: 20%
}

#ajaxForm{
    width: 80%;
    margin: 0 auto;
}

.messagePill {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    max-width: 70%;
    min-width: 10%;
    width: auto;
    border-radius: 1em;
}

/*----------------SupportFrom---------------*/


.contact-input {
    color: black;
    background-color: transparent;
    font-size: 18px;
    padding: 1rem;
    display: block;
    border: none;
    border-bottom: 1px solid #33383B;
}

textarea.contact-input {
    color: black;
    background-color: transparent;
    height: 100px;
    resize: none;
    font-size: 18px;
    padding: 1rem;
    display: block;
    border: none;
    border-bottom: 1px solid #33383B;
}

input.contact-input:active, input.contact-input:focus {
    outline: none;
}

input.contact-input::-moz-focus-inner {
    border: 0;
}

textarea.contact-input:active, textarea.contact-input:focus {
    outline: none;
}

textarea.contact-input::-moz-focus-inner {
    border: 0;
}

input.contact-input-bttn:active, input.contact-input-bttn:focus {
    outline: none;
}

input.contact-input-bttn::-moz-focus-inner {
    border: 0;
    padding: 2rem;
}

/*------------------------------------------*/


@media (max-width: 575.98px) {

    #catalog-header-img {
        height: 40vh !important;
        background-size: cover;
        object-fit: cover;
    }

}


@media (max-width: 767.98px) {
 
}


@media (max-width: 991.98px) {
    
}


@media (max-width: 1199.98px) {
    
}
